body {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

:root {
    --gradient: linear-gradient(115.51deg, #D163D8 11.71%, #602FD3 66.15%);
    --pink: rgba(255, 71, 148, 1);
    --black: #303030;
    --blue: #050039;
    --gray: #A6A7A9;
    --white: #FEFEFE;
    --yellow: rgba(255, 197, 0, 1);
    --gray-light: rgba(231, 231, 231, 1);
}

@media (max-width: 575.98px) {
    nav {
        margin: 0 0 40px 0;
    }

    nav .container-fluid {
        padding: 20px 50px !important;
    }

    nav p, .muncul p {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (min-width: 576px) {
    nav {
        margin: 0 0 40px 0;
    }

    nav p, .muncul p {
        font-weight: 600;
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    nav {
        margin: 0 0 40px 0;
    }

    nav p, .muncul p {
        font-weight: 600;
        font-size: 16px;
    }
}


@media (min-width: 992px) {
    nav {
        margin: 0px 30px 40px 30px;
    }

    nav p, .muncul p {
        font-weight: 600;
        font-size: 16px;
    }
}


@media (min-width: 1200px) {
    nav {
        margin: 0px 30px 40px 30px;
    }

    nav p, .muncul p {
        font-weight: 600;
        font-size: 18px;
    }
}

/* NAVIGASI */
nav {
    background: var(--gradient);
    border-radius: 0px 0px 100px 100px;
    color: var(--white);
    padding: 0 !important;
}

nav .container-fluid {
    padding: 20px 100px;
}

span {
    line-height: 27px;
    color: var(--yellow);
}

nav h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
}

nav .avatar {
    width: 50px;
    height: 50px;
    background-color: var(--black);
    border-radius: 50px;
}

/* WAKTU */
.waktu .row {
    padding-top: 20px;
}

.waktu .row .sisawaktu h4 {
    font-size: 18px;
    font-weight: 700;
    color: var(--black);
}

.waktu .row .waktu {
    margin-top: 10px;
    width: 140px;
    height: 50px;
    background-color: var(--black);
    border-radius: 25px;
}

.waktu .row .waktu p {
    margin-left: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
}

/* SOAL */
.soal {
    padding-top: 64px;
}

.soal .jml-soal {
    font-size: 18px;
    font-weight: 600;
    color: var(--black);
}

.soal span {
    color: var(--pink);
}

.soal .text-soal {
    margin-top: 10px;
    margin-bottom: 50px;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    color: var(--black);
}

.soal .form-check {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f2f2f2;
    color: var(--black);
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    box-sizing: border-box;
}

.check {
    border: 2px solid var(--pink) !important;
    background-color: white !important;
}

.soal .form-check input {
    margin-left: 20px;
    margin-right: 15px;
}

.soal button {
    margin-top: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    width: 100%;
    border: 0;
    border-radius: 50px;
    background: var(--pink);
    font-size: 18px;
    font-weight: 700;
    color: var(--white);
    margin-bottom: 50px;
    border: 1px solid var(--pink);
}

.soal button:disabled {
    border: 1px solid var(--gray);
    background-color: var(--gray);
    color: var(--white);
}

.soal button:hover {
    border: 1px solid var(--gray);
    color: var(--white);
    background-color: #C70657;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid var(--gray);
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: var(--pink);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.form-check:hover [type="radio"]:not(:checked)+label:before {
    background-color: var(--pink);
    border: 1px solid var(--pink);
}